@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&family=Varela+Round&display=swap');

html, body {
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}

.header {
    background-image: linear-gradient(rgba(175, 175, 174, 0.2),
    rgba(71, 71, 63, 0.2)), url(../assets/irvan-smith-5eBW5GomfhY-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.header__title {
    font-family: 'Balsamiq Sans', cursive;
    font-size: 58px;
}

.cards {
    display: flex;
    justify-content: space-around;
    padding: 25px;
}

.challenge {
    width: 200px;
    text-align: center;
}

.img-responsive{
    width: 200px;
    height:180px;
}

.challenge__text {
    color: black;
}

a:link{
    text-decoration: none;
}

a:hover {
    box-shadow: darkgray;
}

.footer {
    text-align: center;
    background-color: darkgrey;
    padding: 20px;
}