:root {
    --base: #ffc600;
    --spacing: 10px;
    --grayscale: 0%;
}

img {
    background: var(--base);
    padding: var(--spacing);
    filter: grayscale(var(--grayscale));
    width: 750px;
}

.title {
    color: var(--base);
}

body {
    text-align: center;
    background-color: #193549;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 30px;
}

.controls {
    margin-bottom: 15px;
}

